/**
 * A simple theme for my website
 */

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body, input, select, textarea {
	color: rgba(255, 255, 255, 0.75);
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.65;
}

/*********************************************
 * HEADERS
 *********************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

/*********************************************
 * OTHER
 *********************************************/

.sand {
  color: grey;
  text-shadow: 1px 1px white;
}
a { border-bottom-color: transparent;	}
a:hover {
  color: rgba(250, 207, 0, 0.75);
}
img.image-container {
  margin: 20px 0;
  border-radius: 20px;
}

.panel > .intro.joined {
  width: 24.5rem;
}

.panel.volunteer {
  background-image: url("../../images/pic04.jpg"), linear-gradient(45deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
  /* background-size: 128px 128px, auto; */
  background-color: #726193;
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #F0F1EB; } }

/**********************************************
 * CUSTOMS
 **********************************************/
span.heart {
  color: #9F0303;
  font-weight: bold;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.logos {
  height: 100px;
  border-radius: 5px;
  /*transform: rotate(20deg);*/
}

.orcid-icon {
  width: 60px;
  height: auto;
  position: relative;
}

.lnkdn-icon {
  width: 60px;
  height: auto;
  position: relative;
  /*bottom: -50px;
  left: -50px; */
  border-radius: 10px;
}

.gh-icon {
  position: relative;
  width: 60px;
  height: auto;
  /*left: -90px;
  bottom: -50px;*/
}

.tw-icon {
  position: relative;
  width: 80px;
  height: auto;
  left: 50px;
}

h3.asis {
  color: white;
  text-shadow: 5px 5px 5px black;
}

div.iframe {
  position: absolute;
  width: 50%;
  right: 0;
  box-shadow: 0 1px 4px rgba(0,0,0,0.5), 0 5px 25px rgba(0,0,0,0.2);
  background-color: #F0F1EB;
  padding: 20px;
  font-size: 30px;
  text-align: left;
}
